
.section_container_desc{
    width: 60%;
}
.section_container_form{
    width: 60%;
}

.discount-container {
    margin-top: 3rem;
    margin-bottom: 0.5rem;
}

.discount-container :nth-child(2) {
    border-color: rgb(8, 146, 8);
}
.discount-container :nth-child(3) {
    border-color: rgb(235, 198, 37);
}

.discount-card {
    border: 1px solid rgba(32, 108, 175, 1);
    /* padding: 2rem; */
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.discount-card h3 {
    text-transform: capitalize;
}

.discount-card h4 {
    margin-top: 1rem;
}

.discount-card:hover {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 255, .2);
}

.subtitle {
    font-size: 0.79rem;
}

.text-center-title{
    text-transform: uppercase;
}

.ticket-h2{
    font-size: 2rem;
}

.container-resultado {
    margin-top: 2rem;
    padding: .5rem;
    background-color: rgb(163, 211, 239);
    color: rgb(17, 99, 146);
    font-size: 1.5rem;
    text-align: start;
    border-radius: 5px;
}

.container-resultado-error{
    margin-top: 2rem;
    padding: .5rem;
    background-color: rgb(245, 151, 158);
    color:  rgb(238, 26, 44);
    font-size: 1.5rem;
    border-radius: 5px;
}
.hide{
    display: none;
    transition: ease-in;
}




@media (max-width: 576px) {
    .section_container{
        padding: 1rem;
    }
}

